.CusCallTitle {
  font-size: 25px;
  font-weight: 600;
  color: #13233c;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CuscallTable {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px auto;
  overflow-x: auto;
}

.CuscallTable th {
  font-size: 19px;
  padding: 12px;
  border: none;
  background-color: #e3e3e386;
  text-align: center;
  font-weight: 600;
  color: #333;
}

.CuscallTable td {
  font-size: 14px;
  padding: 12px;
  border: none;
}

.CuscallTable tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.CuscallTable tbody tr:hover {
  background-color: #e8e9ea;
}

.CuskeywordContainer {
  display: flex;
  flex-wrap: wrap;
}

.CuskeywordBox {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #13233c;
  border-radius: 10px;
}

.CuslinkMore {
  color: #6c757d;
  transition: color 0.1s ease;
}

.CuslinkMore:hover {
  color: #122e5b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .CuscallTable {
    margin: 20px 0;
    overflow-x: auto;
  }
}
