.calllistSearchContainer {
  display: flex;
  margin-bottom: 20px; /* 검색창과 테이블 사이에 여백 추가 */
  margin-left: 65px;
}

.calllistSearchInput,
.calllistSearchCategory {
  margin-right: 10px; /* 검색창 요소 간 간격 */
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.calllistSearchInput {
  flex-grow: 1; /* 검색 입력 필드를 가변 너비로 설정 */
}

.calllistTable {
  margin-left: 65px;
}
