.AsTable {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 0 auto;
  overflow-x: auto;
  font-size: 16px;
}

.AsTable thead th {
  background-color: #e3e3e386;
  padding: 8px;
  text-align: center;
  border: none;
}

.AsTable tbody td {
  padding: 10px;
  border: none;
}

.AsTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.AsTable tbody tr:hover {
  background-color: #dddddd;
}

/* 요청 대기 상태 스타일 */
.AsTable .waiting {
  color: rgb(186, 21, 21);
}

/* 처리 완료 상태 스타일 */
.AsTable .completed {
  color: rgb(168, 168, 171);
}

@media (max-width: 768px) {
  .customTable {
    margin-left: 0;
    overflow-x: auto;
  }
}
