.allcusone {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.titlecusone {
  margin-bottom: 20px;
  display: flex;
}

.topcusone {
  margin-left: 50px;
}

.middlecusone,
.bottomcusone {
  padding: 20px;
  margin-bottom: 10px;
  margin-left: auto; /* 오른쪽으로 붙이기 */
  margin-right: auto; /* 왼쪽으로 붙이기 */
  width: 800px; /* 최대 너비 설정 */
}
