.allcus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topcus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottomcus {
  margin-left: 20px;
  margin-top: 25px;
}

.bottomupcus {
  display: flex;
  margin-bottom: 20px;
  max-width: 800px;
}
