body {
  font-family: "Noto Sans KR", sans-serif;
}

.allcus {
  display: flex;
  flex-direction: column;
}

.topcus {
  display: flex;
  justify-content: flex-start;
}

.bottomcus {
  margin-left: 20px;
  margin-top: 25px;
}

.bottomupcus {
  display: flex;
  margin-bottom: 20px;
  max-width: 800px;
}
