/* UserMenu.module.css */

.userMenu {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.iconButton img {
  width: 24px;
  height: 24px;
}

ul.popup {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 160px;
}

ul.popup li {
  padding: 12px 16px;
  font-size: 15px;
  color: #333;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

ul.popup li:hover,
ul.popup li:not(.disabled):hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

ul.popup li.disabled {
  color: #c4c4c4;
  user-select: none;
  cursor: default;
}

.userMenu ul.popup a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.userMenu ul.popup a:hover {
  text-decoration: none;
}
