body {
  font-family: "Noto Sans KR", sans-serif;
}
.callTable {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 0 auto;
  overflow-x: auto;
  font-size: 16px;
}

.callTable th,
.callTable td {
  padding: 10px;
  border: none;
}

.callTable th {
  background-color: #e3e3e386;
  text-align: center;
}

.callTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.callTable tbody tr:hover {
  background-color: #dddddd;
}

/* 키워드 스타일 */
.keywordContainer {
  display: flex;
  flex-wrap: wrap;
}

.keywordBox {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #13233c;
  border-radius: 10px;
}

/* 더보기*/
.linkMore {
  color: rgb(159, 159, 159);
  transition: color 0.1s ease;
}

.linkMore:hover {
  color: #122e5b;
  font-weight: bold;
}

.linkMore:visited {
  color: rgb(159, 159, 159);
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .callTable {
    margin-left: 0;
    overflow-x: auto;
  }
}
