body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 이미지 스타일 */
.loginImg {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.login-title {
  color: #13233c;
  font-size: 39px;
  font-weight: 700;
  margin: 50px 0 20px 0;
  text-align: center;
}

.login-intro {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}
