.chatInput {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  padding: 15px;
  border-top: 1px solid #dcdfe6;
  background-color: #ffffff;
}

.selectInput,
.textInput {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #dcdfe6;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.selectInput:focus,
.textInput:focus {
  border-color: #123369;
}

.chatInput button {
  margin-left: 10px;
  padding: 10px 30px;
  border: none;
  background-color: #13233c;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatInput button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .chatInput {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
  }

  .selectInput,
  .textInput {
    flex: 4;
    font-size: 15px;
    padding: 8px 10px;
    margin-bottom: 10px;
  }

  .chatInput button {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: auto;
  }
}
