.loading {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #007bff;
  animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
