.Box_call {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); /*웹킷 브라우저 그림*/
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); /*박스 그림자 색깔*/
  /*padding: 10px;*/
  border-radius: 10px;
  border: 1px solid #13233c;
  max-width: 400px;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(165, 214, 236, 0.288);
  border-bottom: 1px solid #13233c;
  border-radius: 10px;
}

.title-bc {
  color: #13233c;
  font-size: 30px;
  font-weight: bold;
}

.more {
  color: rgba(63, 60, 60, 0.555);
  font-size: 13px;
  font-weight: 900;
}

.middle_top {
  padding-top: 10px;
  padding-left: 10px;
  font-style: italic;
}

.middle_bottom {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.left_middle_bottom,
.right_middle_bottom {
  text-align: center;
  border: 1px solid #13233c57;
  border-radius: 10px;
  padding: 5px 30px 5px 30px;
}

.left_middle_bottom {
  margin-right: 10px;
}

.smalltitle {
  font-size: 16px;
  font-weight: 600;
}

.smallnum {
  font-size: 28px;
  font-weight: 600;
}

.left_middle_bottom .smalltitle {
  color: rgb(167, 37, 37);
}

.right_middle_bottom .smalltitle {
  color: rgb(24, 24, 122);
}

.bottom {
  padding: 15px 15px 5px 15px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: none; /*외부테두리 제거*/
  font-weight: 600;
}

.table th {
  background-color: #d8d7d798; /* 헤더 배경색 */
}

.table th,
.table td {
  border-bottom: 1px solid #0000002f; /* 선 그어줌 */
  text-align: center; /* 가운데 정렬 */
  padding: 8px; /* 셀 내용 여백 */
}

.table tr {
  color: rgba(54, 53, 53, 0.671);
}
