body {
  font-family: "Noto Sans KR", sans-serif;
}

.BoxCall {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e8f2f371;
  border: 1px solid #cbcfcf;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px;
  max-width: 500px;
  max-height: 100px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.BoxCall:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.BoxCallFirst {
  justify-content: center;
  padding-left: 10px;
  padding-right: 20px;
}

.callIcon {
  width: 60px;
  height: 60px;
}

.boxCallTitle,
.smalltitle {
  color: #13233c;
  font-weight: bold;
  text-decoration: none;
}

.boxCallTitle {
  font-size: 32px;
}

.BoxCallSecond {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  border-left: 1px solid #cbcfcf;
}

.BoxCallThird {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.smalltitle {
  flex: 1;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.smallTitleLine {
  display: block;
}

.smallnum {
  font-size: 35px;
  text-align: center;
  color: #13233c;
  font-weight: 500;
}

@media (max-width: 800px) {
  .BoxCall {
    flex-direction: column;
    min-width: 100%;
    max-height: 100%;
    margin: 10px 0;
    padding: 15px;
  }

  .BoxCallFirst,
  .BoxCallSecond {
    margin-right: 0;
    border-left: none;
    padding: 8px 0;
    align-items: center;
    text-align: center;
  }

  .BoxCallThird {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #cbcfcf;
  }

  .boxCallTitle,
  .smalltitle {
    font-size: 18px;
  }

  .smallnum {
    font-size: 28px;
  }

  .callIcon {
    width: 60px;
    height: 60px;
  }
}
