.Boxdashboard {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border: 1px solid #cbcfcf;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  transition: all 0.3s ease;
}

.Boxdashboard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.dashboardIcon {
  width: 60px;
  height: 80px;
}

.left {
  margin-right: 10px;
}

.right-db {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.title-db {
  color: #13233c;
  font-weight: bold;
  font-size: 20px; /* 조정된 크기 */
}

.explain-db {
  font-size: 15px; /* 조정된 크기 */
  color: #13233c;
}
