body {
  font-family: "Noto Sans KR", sans-serif;
}

.allas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topas {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.middleas {
  padding: 20px;
}

.bottomas {
  padding: 10px;
}
