html {
  overflow-y: scroll;
}

.alltalk {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.middletalk {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.button-container-talk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 40px;
}

.button-each-talk {
  width: 250px;
  margin: 0 20px;
  border: 1px solid rgba(128, 128, 128, 0.293);
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #7572727f;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-each-talk:hover {
  background-color: #ddd;
}

.active {
  background-color: #13233c;
  color: #fff;
}

.bottomtalk {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .button-container-talk {
    flex-direction: column;
    align-items: flex-start;
  }
}
