body {
  font-family: "Noto Sans KR", sans-serif;
}

.cusAsInputContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cusAsInputHeader {
  font-size: 28px;
  font-weight: bold;
  color: #13233c;
  text-align: start;
  padding: 15px 0px 15px 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid #e4e4e4;
}

.cusAsInputStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin: 10px;
}

.cusAsInputSteptitle {
  font-size: 18px;
}

.productInfo {
  display: flex;
  align-items: center;
}

.productImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.productName {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: bold;
}

.productNumber {
  font-size: 1em;
  color: #747474;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #959595;
  margin: 20px 0;
}

.cusAsInputSelect {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #666;
  background-color: white;
  margin-bottom: 20px;
}

.cusAsInputButton {
  background-color: #13233c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cusAsInputButton:hover {
  background-color: #456ca0;
}

.cusAsInputBackButton {
  background-color: #ccc;
  margin-left: 10px;
}

.cusAsInputBackButton:hover {
  background-color: #bbb;
}
