body {
  margin: 0;
  padding: 0;
}

/* 홈 및 컨테이너 스타일 */
.home {
  padding: 20px;
}

.homeContainer {
  max-width: 1200px;
}

/* 위젯 스타일 */
.widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.widget {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.widget:hover {
  transform: translateY(-5px);
}

/* 박스 스타일 */

.box a,
.box2 a,
.box3 a {
  color: inherit; /* 상속된 색상을 사용 */
  text-decoration: none; /* 밑줄 제거 */
}

/* 반응형 미디어 쿼리 */
@media (max-width: 600px) {
  .widgets,
  .box {
    flex-direction: column;
  }

  .box2,
  .box3 {
    width: 100%;
  }

  .homeContainer {
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .widgets .box {
    justify-content: space-around;
  }
}
