body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

.managerhome {
  font-family: "Noto Sans KR", sans-serif;
  padding: 20px;
}

.managerhomeContainer {
  max-width: 1200px;
  margin: auto;
}

.managerwidgets {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.managerwidget {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
  flex: 1 1 300px;
}

.managerwidget:hover {
  transform: translateY(-5px);
}

.managerbox {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 20px;
}

.managerbox a {
  color: inherit;
  text-decoration: none;
}

.managerbox2 {
  flex: 1;
  display: flex;
  justify-content: start;
}

@media (max-width: 768px) {
  .managerwidgets {
    flex-direction: column;
    align-items: center;
  }

  .managerbox {
    flex-direction: column;
    align-items: center;
  }

  .managerbox2 {
    margin-top: 20px;
  }
}
