/* TitleSub.module.css */
.TitleSubBox {
  height: 60px;
  max-width: 330px;
  border: 1px solid #13233c50;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  margin: 20px 0px 0px 30px;
}

.TitleSubBoxImg {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.TitleSubBoxtitle {
  font-weight: 400;
  font-size: 30px;
  color: #13233c;
}

/* TitleSub 반응형 스타일 */
@media (max-width: 768px) {
  .TitleSubBox {
    /* 모바일 화면에서 세로 정렬 */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto; /* 높이 자동 조정 */
    width: 90%; /* 가로폭 조정 */
    max-width: none; /* 최대 가로폭 제거 */
    margin: 10px auto; /* 가운데 정렬 */
  }

  .TitleSubBoxImg {
    margin-bottom: 10px; /* 모바일 화면에서 아이콘과 제목 사이 간격 추가 */
  }

  .TitleSubBoxtitle {
    font-size: 20px; /* 모바일 화면에서 제목 폰트 크기 조정 */
    text-align: center; /* 모바일 화면에서 텍스트 가운데 정렬 */
    margin-top: 5px; /* 모바일 화면에서 제목 위쪽 여백 추가 */
  }
}
