.nav {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: underline;
}

.logo {
  cursor: pointer;
}

.chatbotButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(135deg, #6d5dfc, #3f9efc);
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, box-shadow 0.3s;
  padding: 4px 20px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(63, 158, 252, 0.4);
  border: none;
  cursor: pointer;
}

.chatbotIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chatbotButton:hover {
  text-decoration: none;
  background: linear-gradient(135deg, #5b49e3, #2b7de3);
  box-shadow: 0 6px 16px rgba(43, 125, 227, 0.4);
}

@media (max-width: 480px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chatbotButton {
    font-size: 14px; /* 모바일 화면에서 버튼의 폰트 크기를 줄입니다. */
    padding: 8px; /* 모바일 화면에서 버튼의 패딩을 조정합니다. */
  }

  .chatbotIcon {
    width: 20px; /* 아이콘 크기 조정 */
    height: 20px; /* 아이콘 크기 조정 */
    margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 조정 */
  }
}
