.nav {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: underline;
}
