body {
  font-family: "Noto Sans KR", sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
}

.sider {
  grid-row: 1 / -1; /* 사이드바는 행 전체를 차지 */
  background-color: #0d182c;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
}

.logo img {
  width: 80%;
  display: block;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #fffffff9;
}

.content {
  padding: 5px;
  overflow-y: auto;
  background-color: #efefef;
}

.footer {
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}
