body {
  font-family: "Noto Sans KR", sans-serif;
}

.compareContainer {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #13233c;
}

.compareTitle {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.compareLink {
  color: #13233c;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.infoLink {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.infoLink:hover {
  color: #0048ff;
}

.productDropdownContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.productDropdownContainer label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productDropdownContainer select {
  font-size: 16px;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #13233c;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff;
}

.productDropdownContainer select:focus {
  border-color: #13233c;
  box-shadow: 0 0 5px rgba(19, 35, 60, 0.5);
}

.productComparisonTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.productComparisonTable th,
.productComparisonTable td {
  padding: 20px;
  text-align: center;
}

.productComparisonTable th {
  background-color: #13233c;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.nameRow {
  border: 20px solid white;
}

.nameInfoRow {
  font-weight: bold;
  font-size: 26px;
}

.partNumInfoRow {
  font-weight: bold;
  font-size: 15px;
}

.imageRow td {
  background-color: white;
}

.imageContainer {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sizeWeightRow td,
.featureRow td {
  font-weight: bold;
  border-bottom: 2px solid #d2d2d2;
  text-align: start;
  font-size: 23px;
}

.sizeWeightInfo td {
  font-size: 20px;
  font-weight: 400;
}

.washableFrozenCell {
  border: none;
  text-align: center;
}

.iconContainer {
  display: inline-block;
  margin-right: 10px;
}

.icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.featureInfo td {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .productComparisonTable th,
  .productComparisonTable td {
    padding: 10px;
  }
  .productDropdownContainer label {
    font-size: 17px;
  }

  .productDropdownContainer select {
    font-size: 13px;
  }

  .nameInfoRow {
    font-size: 20px;
  }

  .partNumInfoRow {
    font-size: 10px;
  }

  .sizeWeightInfo td,
  .featureInfo td {
    font-size: 15px;
  }
}
