.DetailproductContainer {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #13233c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailcontentContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.DetailproductImageContainer {
  flex: 1;
  max-width: 400px;
}

.DetailproductImage {
  width: 100%;
  height: auto;
}

.DetailproductInfo {
  flex: 2;
  padding-left: 20px;
}

.DetailproductName {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.DetailproductName h1,
.DetailproductName h2 {
  margin-right: 10px;
}

.DetailproductName h1 {
  font-size: 35px;
  font-weight: 700;
}

.DetailproductName h2 {
  font-size: 25px;
  font-weight: 300;
}

.DetailproductDescription {
  color: #666;
  line-height: 1.6;
  text-align: start;
  white-space: pre-wrap;
  margin-left: 20px;
}

.productDetailsTable {
  width: 80%;
  border-collapse: collapse;
  margin-left: 20px;
}

.productDetailsTable th,
.productDetailsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: 15px;
}

.productDetailsTable th {
  background-color: #f8f8f8;
}

.DetailproductVideo {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.DetailproductVideo iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
}

.DetailbuttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.Detailbutton,
.DetailbuttonCompare,
.DetailbuttonBack {
  border: 1px solid #a1a1a1aa;
  border-radius: 25px;
  padding: 12px 40px;
  margin: 5px;
  color: #13233c;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.Detailbutton {
  background-color: #f0f0f0;
}

.DetailbuttonCompare {
  background-color: #e1eaf5;
}

.DetailbuttonBack {
  background-color: #f8e6e7;
}

.Detailbutton:hover,
.DetailbuttonCompare:hover,
.DetailbuttonBack:hover {
  background-color: #d4d4d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .DetailcontentContainer {
    flex-direction: column;
  }

  .DetailproductImageContainer {
    max-width: 100%;
    flex: none;
  }

  .DetailproductImage {
    width: 100%;
    height: auto;
  }

  .DetailproductInfo {
    padding: 20px 0;
  }

  .DetailproductName h1 {
    font-size: 30px;
  }

  .DetailproductName h2 {
    font-size: 20px;
  }

  .productDetailsTable {
    width: 100%;
    margin: 0;
  }

  .DetailbuttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .Detailbutton,
  .DetailbuttonCompare,
  .DetailbuttonBack {
    width: 90%;
    margin: 10px 0;
  }

  .DetailproductVideo iframe {
    height: 200px;
  }
}
